<div class="bg-indigo-100 border border-indigo-400 py-10">
    <div class="max-w-4xl mx-auto bg-indigo-50  border border-indigo-500 shadow-lg overflow-hidden p-8">
        <div class="flex flex-col lg:flex-row items-center">

            <div flex-shrink-0>
              <div class="w-32 h-32 lg:w-48 lg:h-48 overflow-hidden shadow-md border border-indigo-600">
                <img src="{{ MEDIA_URL }}profile/profile2_small.jpg" alt="Profile Photo" class="w-full h-full object-cover">
              </div>
            </div>

            <div class="mt-6 lg:mt-0 lg:ml-10 text-center lg:text-left">
                <h1 class="text-2xl font-bold text-gray-800">Who made this?</h1>
                <p class="mt-4 text-gray-600 leading-relaxed">
                    I’m Jeff Jacobson, a software developer specializing in building robust 
                    back-end systems using Python and Django. With a deep background in the arts and humanities, I love creating apps
                    that let us explore different aspects of human culture, whether it's managing a jazz repertoire with Jazztunes
                    or archiving correspondence with Gfetch!
                    A longtime Linux user, I believe in free software and am excited to finally be able to give something back to the FOSS ecosystem.
                </p>
                <p class="mt-2 text-gray-600 leading-relaxed">
                    When I’m not coding, you’ll find me playing and listening to music, reading, or spending time with my family and friends.
                    This portfolio was created using Django, htmx, and Tailwind CSS.
                </p>

                <div class="flex justify-center items-center space-x-4 mt-6 text-lg">
                    <a href="https://github.com/jwjacobson" target="_blank" 
                    class="text-gray-600 hover:text-indigo-700">
                    GitHub
                </a>
                <span class="text-gray-400">|</span>
                <a href="https://linkedin.com/in/jwjacobson" target="_blank" 
                class="text-gray-600 hover:text-indigo-700">
                LinkedIn
            </a>
            <span class="text-gray-400">|</span>
            <a href="https://fosstodon.org/@jeffjacobson" target="_blank" 
            class="text-gray-600 hover:text-indigo-700">
            Fosstodon
        </a>
    </div>
</div>
    </div>
</div>
