{% load static %}
<div class="bg-[#ECEAE2] border border-[#3A3A3A] py-16">
  <div class="max-w-4xl mx-auto bg-[#F7F6F2] border border-[#3A3A3A] overflow-hidden p-12">
      <div class="flex flex-col lg:flex-row items-center">

        <div class="flex-shrink-0">
            <div class="w-48 h-48 lg:w-72 lg:h-72 overflow-hidden border border-[#3A3A3A]">
            <img src="{% static 'images/with-diogenes.jpg' %}" alt="A picture of me and Diogenes the water buffalo (RIP)" class="w-full h-full object-cover">
            </div>
        </div>

        <div class="mt-10 lg:mt-0 lg:ml-12 text-center lg:text-left">
          <h1 class="text-3xl font-bold text-[#1E1E1E]">Who made this?</h1>
          <p class="mt-6 text-[#3A3A3A] text-xl leading-relaxed">
            I'm Jeff Jacobson, a backend-focused full stack developer and passionate Pythonista. With a deep background in the arts and humanities, I love creating apps
            that let us explore different aspects of human culture.
            My academic background also makes me a natural at producing comprehensive and readable documentation.
            Outside of tech, you can find me playing jazz, reading, or spending time with my family.
          </p>

          <p class="mt-4 text-[#3A3A3A] text-xl leading-relaxed">
            Thanks for stopping by and feel free to get in touch!
          </p>

          <div class="mt-8 text-xl lg:ml-12">
            <div class="flex space-x-4">
                <a href="https://github.com/jwjacobson" target="_blank"
                    class="text-[#4A6B40] hover:text-[#7A9B6E]">
                    GitHub
                </a>
                <span class="text-[#C4C2BA]">|</span>
                <a href="https://linkedin.com/in/jwjacobson" target="_blank"
                    class="text-[#4A6B40] hover:text-[#7A9B6E]">
                    LinkedIn
                </a>
                <span class="text-[#C4C2BA]">|</span>
                <a href="https://fosstodon.org/@jeffjacobson" target="_blank"
                    class="text-[#4A6B40] hover:text-[#7A9B6E]">
                    Fosstodon
                </a>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
