<div class="bg-indigo-100 border border-indigo-400 py-10">
    <div class="max-w-4xl mx-auto bg-indigo-50  border border-indigo-500 shadow-lg overflow-hidden p-8">
        <div class="flex flex-col lg:flex-row items-center">

            <div flex-shrink-0>
              <div class="w-32 h-32 lg:w-48 lg:h-48 overflow-hidden shadow-md border border-indigo-600">
                <img src="{{ MEDIA_URL }}profile/profile2_small.jpg" alt="Profile Photo" class="w-full h-full object-cover">
              </div>
            </div>

            <div class="mt-6 lg:mt-0 lg:ml-10 text-center lg:text-left">
                <h1 class="text-2xl font-bold text-gray-800">Who made this?</h1>
                <p class="mt-4 text-gray-600 leading-relaxed">
                    I’m Jeff Jacobson, a software developer specializing in building robust 
                    back-end systems using Python and Django. With a deep background in the arts and humanities, I love creating apps
                    that let us explore our culture, whether that's managing a jazz repertoire with Jazztunes or archiving communications with Gfetch!
                    A longtime Linux user, I believe in free software and am excited to finally be able to give something back to the FOSS ecosystem.
                </p>
                <p class="mt-2 text-gray-600 leading-relaxed">
                    When I’m not coding, you’ll find me playing music, reading, or spending time with my family.
                    This portfolio was created using Django, htmx, and Tailwind CSS.
                </p>
                
        </div>
    </div>
</div>
