<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
    {% for project in projects %}
    <div class="bg-fuchsia-50 border border-stone-400 p-8 hover:bg-amber-100">
        <h1 class="text-2xl font-semibold mb-1 text-stone-900">{{ project.title }}</h1>
        <p class="text-lg text-stone-700 mb-4 italic">{{ project.blurb }}</p>
        <button
            class="bg-stone-600 hover:bg-fuchsia-700 text-stone-100 font-bold py-3 px-6 text-lg"
            hx-get="{% url 'details' project.pk %}"
            hx-target="#tab-content"
            hx-swap="innerHTML"
            hx-push-url="{% url 'details' project.pk %}"
        >
        Details
        </button>
    </div>
    {% endfor %}
</div>
