<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
    {% for project in projects %}
    <div class="bg-[#ECEAE2] border border-[#3A3A3A] p-8 hover:bg-[#E4E1D8]">
        <h1 class="text-2xl font-semibold mb-1 text-[#1E1E1E]">{{ project.title }}</h1>
        <p class="text-lg text-[#3A3A3A] mb-4 italic">{{ project.blurb }}</p>
        <button
            class="bg-[#4A6B40] hover:bg-[#7A9B6E] text-[#F7F6F2] font-bold py-3 px-6 text-lg"
            hx-get="{% url 'details' project.pk %}"
            hx-target="#tab-content"
            hx-swap="innerHTML"
        >
        Details
        </button>
    </div>
    {% endfor %}
</div>
