DEBUG=True
ALLOWED_HOSTS=127.0.0.1
SECRET_KEY=thenitwouldn\'tbesecret
TAILWIND_APP_NAME=theme
#AWS values
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
AWS_S3_CUSTOM_DOMAIN=