{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>Jeff Jacobson</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- Link preview tags -->
		<meta property="og:title" content="Jeff Jacobson portfolio">
        <meta property="og:url" content="https://jeffjacobson.dev">
        <meta property="og:type" content="website">
        <meta property="og:image" content="{% static 'images/preview.png' %}">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">

		{% tailwind_css %}
		<!-- Load htmx -->
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
		<!-- favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'images/site.webmanifest' %}">
		<!-- Preload images -->
		<link rel="preload" href="{% static 'images/jazztunes.png' %}" as="image">
		<link rel="preload" href="{% static 'images/summarize.png' %}" as="image">
		<link rel="preload" href="{% static 'images/gfetch.png' %}" as="image">
		<link rel="preload" href="{% static 'images/profile/profile2_small.jpg' %}" as="image">
		<style>
			html {
				overflow-y: scroll;
			}
		</style>
	</head>

	<body class="bg-indigo-200 font-serif leading-normal tracking-normal min-h-screen flex flex-col">
		<div class="flex-1 container mx-auto px-4 py-8">
			<nav class="bg-indigo-200 border border-indigo-700 p-0 inline-flex overflow-hidden mb-3">
				<div 
					hx-get="/" 
					hx-target="#tab-content" 
					hx-swap="innerHTML"
					hx-trigger="click"
					class="flex-1 text-center text-indigo-900 flex items-center justify-center cursor-pointer hover:bg-indigo-100 hover:text-black p-4 text-xl"
				>
					<span>Projects</span>
				</div>
			
				<div class="w-px bg-indigo-700"></div>
			
				<div 
					hx-get="{% url 'about' %}" 
					hx-target="#tab-content" 
					hx-swap="innerHTML"
					hx-trigger="click"
					class="flex-1 text-center text-indigo-900 items-center justify-center cursor-pointer hover:bg-indigo-100 hover:text-black p-4 text-xl"
				>
					<span>About</span>
				</div>
			</nav>
		
			<div id="tab-content" class="flex-1 mt-3" hx-get="/" hx-swap="innerHTML" hx-trigger="load">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		
		<footer class="p-4 w-full">
			<p class="text-xs text-gray-600">
				© 2024 Jeff Jacobson. Licensed under 
				<a href="https://www.gnu.org/licenses/gpl-3.0.html" 
				class="text-indigo-500" target="_blank" rel="noopener noreferrer">
				GPLv3 
			</a>. Built with Django | htmx | Tailwind CSS
		</p>
	</footer>
	</body>
</html>
