{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Jeff Jacobson</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
	</head>

	<body class="bg-indigo-200 font-serif leading-normal tracking-normal">
		<div class="container mx-auto px-4 py-8">
			<nav class="bg-gray-800 p-4 bg-indigo-100 border border-indigo-400 mb-8">
				<div class="container mx-auto flex justify-between items-center">
				  <div class="space-x-4">
					<a href="#" class="text-black hover:text-indigo-900">Projects</a>
					<a href="#" class="text- hover:text-indigo-900">About me</a>
				  </div>
				</div>
			</nav>
			{% block content %}
			{% endblock %}
		</div>	
	</body>
</html>
